
.target-page {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: var(--bg);
    visibility: hidden;
    pointer-events: none;
    transition: all 0.5s ease-out;
}

.target-page.active {
    visibility: visible;
    pointer-events: all;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0px;
    overflow-y: auto;
    overflow-x: hidden;
}

.target-header-container {
    width: 100%;
    height: 50px;
    margin-top: 85px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    padding: 0 20px 0 20px;

}

.target-back {
    color: rgb(220,220,220);
    font-size: 20px;
    cursor: pointer;
    user-select: none;
}

.target-headerText {
    font-family: "JetBrains Mono", monospace;
    color: #c8c8c8;
    font-size: 28;
    margin-top: 0px;
}

.target-description-container {
    width: 100%;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: stretch;
    gap: 10px;
}

.target-photo {
    width: 30%;
    height: auto;
    object-fit: cover;
    border-radius: 20px;
    border: 4px solid rgb(90, 90, 90);
    user-select: none;
}

.target-description {
    width: 57%;
    min-height: 100px;
    height: auto;
    background:rgb(49, 49, 51);
    border-radius: 28px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.target-description-name {
    font-family: "JetBrains Mono", monospace;
    color: rgb(220,220,220);
    font-size: 30px;
    margin-top: 20px;
    text-align: center;
}

.target-description-data-cont {
    width: 100%;
    min-height: 10px;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 0;
}

.target-description-text-place {
    font-family: "JetBrains Mono", monospace;
    color: rgb(137, 138, 138);
    font-size: 18px;
    margin-left: 50px;
    margin-top: 0px;
    user-select: none;
}

.target-description-reward-cont {
    width: 100%;
    display: flex;
    align-items: start;
    justify-content: end;
    gap: 10px;
    
}

.target-reward {
    text-align: right;
    margin-right: 0 !important;
}

.target-reward-icon{
    width: 20px;    
    height: 20px;
    display: flex;
    align-items: space-between;
    justify-content: end;
    margin-right: 0 !important;
}

.target-description-text-data {
    font-family: "JetBrains Mono", monospace;
    color: rgb(209, 209, 209);
    font-size: 18px;
    margin-right: 50px;
    margin-top: 0px;
    text-align: center;
}

.target-progress {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;

}

.target-progressBar {
    width: 90%;
    height: 50px;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 999px;
}

.target-progressBar-current {
    width: 30%;
    height: 50px;
    background: rgb(209, 4, 4);
    border-radius: 999px;
}

.target-progress-description {
    width: 100%;
    min-height: 50%;
    margin-top: 50px;
    background: rgb(47, 47, 255);
}

.target-docBtn-cont {
    width: 100%;
    height: 75px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.target-docBtn {
    width: 25%;
    height: 50px;
    background: rgb(209, 4, 4);
    border-radius: 999px;
    border: 0;
    font-family: "JetBrains Mono", monospace;
    color: rgb(255, 255, 255);
}

.target-progressBar-headText {
    font-family: "JetBrains Mono", monospace;
    color: rgb(220,220,220);
}



.target-end-el {
    margin-top: 100px;
}


@media (max-width: 900px) {

    .target-description-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        height: auto;
    }

    .target-photo {
        width: 80%;
        height: 80vw
    }

    .target-description {
        width: 90%;
        height: auto
    }

    .target-description-text-data {
        text-align: right;
    }
}


